.start_title {
  width: 69%;
  position: relative;
  display: flex;
  margin: 15px;
  font-family: sans-serif;
  /* background-color: blue; */
  margin: auto;
  font-size: 26px;
  font-weight: 900;
  margin-top: 18%;
}

.ant-btn-primary {
  color: #fff;
  font-size: 20px;
  border-color: black;
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 12px;
}
.button_start {
  margin-left: 15pc;
  margin-top: 30px;
}
/* .ant-btn-primary:hover {
  background: #fff;
  border-color: rgb(214, 6, 6);
} */
