.footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.start_title {
  width: 69%;
  position: relative;
  display: flex;
  margin: 15px;
  font-family: sans-serif;
  /* background-color: blue; */
  margin: auto;
  /* font-size: 26px; */
  /* font-weight: 900; */
  margin-top: 15%;
}

.ant-btn-primary {
  color: #fff;
  font-size: 20px;
  border-color: black;
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 12px;
}
.button_start {
  margin-left: 15pc;
  margin-top: 30px;
}
/* .ant-btn-primary:hover {
  background: #fff;
  border-color: rgb(214, 6, 6);
} */

.question {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  text-align: left;
  user-select: none;
}

.radio-tab {
  padding: 5px 15px 35px 15px;
  font-size: 1rem;
  font-weight: 600;
}

.radio-multiple-choice {
  appearance: none;
  font-size: 0.9rem;
  line-height: 1.5em;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  /* text-align: left; */
  border-radius: 0.5em;
  padding: 0.6075em 0.75em;
  margin: 0px;
  margin-top: 1rem;
  font-weight: 600;
}

.active-radio-multiple-choice {
  appearance: none;
  font-size: 0.9rem;
  line-height: 1.5em;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  background-color: #000;
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
  /* text-align: left; */
  border-radius: 0.5em;
  padding: 0.6075em 0.75em;
  margin: 0px;
  margin-top: 1rem;
  font-weight: 600;
}

.question-container {
  margin-left: 20%;
  margin-right: 20%;
}

.single-question-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.matrix-index-title {
  display: flex;
  justify-content: flex-end;
}

.matrix-index {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 600;
}
.matrix-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

.matrix-radio-option-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.matrix-radio {
  padding: 0px 6.5px;
}

.next-button-icon {
  margin-right: 20px;
}

.multiple-choice-container {
  display: inline-flex;
  flex-direction: column;
}
